Kode Jupyter

In [1]:
print("hello world")

hello world

In [2]:
i = 1
while(i<=10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [10]:
import pandas as pd
import numpy as np

In [14]:
data = pd.DataFrame(data=np.array([[1,2,3],[4,5,6]], dtype=int), columns=['A','B','C'])
data

   A  B  C
0  1  2  3
1  4  5  6

# Using Latex

In [ ]:
$$c =\sqrt(a^2+b^2)